.Page-Animate {
  background: $darkBlue;
  overflow: hidden;
  position: relative;

  .svg-outer {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      height: 20rem;
    }

    .needs-background {
      fill: #fff;
    }

    #two {
      visibility: hidden;
    }
  }
}